html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background: bisque;
	margin: 0 auto;
}
h2 {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
}
form{
	margin: 0 auto;
	width: 450px;
	height: 600px;
	padding: 30px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}
.group{
	margin: 10px;
	padding: 5px;
}
label{
	padding-left: 10px;
	text-transform: uppercase;
}
input{
	margin-top: 10px;
	height: 40px;
	width: 400px;
	border: none;
	border-radius: 20px/20px;
	-webkit-border-radius: 20px/20px;
	-moz-border-radius: 20px/20px;
	-ms-border-radius: 20px/20px;
	-o-border-radius: 20px/20px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
input:focus{
	transform: translateX(15px);
	width: 385px;
	-webkit-transform: translateX(15px);
	-moz-transform: translateX(15px);
	-ms-transform: translateX(15px);
	-o-transform: translateX(15px);
}
input:hover{
	background: peachpuff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
}
input:focus{
	background: whitesmoke;
}

button {
	text-align: center;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
	border-radius: 10px/10px;
	-webkit-border-radius: 10px/10px;
	-moz-border-radius: 10px/10px;
	-ms-border-radius: 10px/10px;
	-o-border-radius: 10px/10px;
	-webkit-border-radius:10px/10px;
}
.select_css{
	display: inline-block;
	position: relative;
	
}
.select_css1{
	cursor: pointer;
	font-size: 16px;
	padding: 3px 2px;
	border: 1px solid grey;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: peachpuff;
	width: 105px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.select_css:before{
	content: "";
	position: absolute;
	top: 0;
	right: 8px;
	width: 10px;
	height: 10px;
	border-top: 3px solid grey;
	border-right: 3px solid grey;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}
textarea{
	resize: none;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px/10px;
	-webkit-border-radius: 10px/10px;
	-moz-border-radius: 10px/10px;
	-ms-border-radius: 10px/10px;
	-o-border-radius: 10px/10px;
	-webkit-border-radius:10px/10px;
}

textarea:hover{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
	background: peachpuff ;
}
textarea:focus{
	background: whitesmoke ;
}
.number{
	display: inline-block;
	position: relative;
}
.number_1{
	display: block;
	font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
.number{
	display: inline-block;
	position: relative;
}
.number_1{
	font-size: 16px;
	padding: 3px 12px;
	border: 1px solid grey;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: peachpuff;
	width: 105px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.number_1:focus{
	width: 105px;
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}
.group_1{
	text-align: center;
}
