@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,700&display=swap');
@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('fonts/bebas_neue_cyrillic-webfont.eot');
    src: url('fonts/bebas_neue_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas_neue_cyrillic-webfont.woff2') format('woff2'),
         url('fonts/bebas_neue_cyrillic-webfont.woff') format('woff'),
         url('fonts/bebas_neue_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin: 0 auto;
    background: #ffffff;

}
.header_1{
    background:#8cd3c9 url(image/background_1.png) repeat-x;
    height: 34px;
}
.menu_1{
    position: relative;
    height: 34px;
    width: 346px;
    background: #8cd3c9;
    margin: 0 auto;
    left: 10px;
}
.for_header_1{
    font-size: 0;
   
}
.for_menu_1 li{
    font-size: 14px;
    line-height: 14px;
    line-height: 11px;
    display: inline-block;
    background: #8cd3c9 url(image/backgrond_3.png) 2px 8px no-repeat;
    padding: 8px 0 11px 30px;
}
.for_menu_1 a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
   
}
.header_2{
    height: 186px;
    background: #6ac4b8;
    margin-bottom: 30px;
}
.for_header_2 {
    width: 960px;
    margin: 0 auto;
}
.logo{
    position: relative;
    top: 12px;
    float: left;
}
.header_name{
    position: relative;
    float: left;
    top: 35px;
    left: 116px;
}
h1 {
    position: relative;
    font-size: 22px;
    color: #157d8c;
    line-height: 53px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.h1_bold{
    font-weight: 700;
}
.search{
    position: relative;
    width: 411px;
    height: 30px;
    padding-left: 19px;
    outline: none;
    border: none;
}
input[type="search"]::placeholder{
    font-size: 12px;
    font-family: 'Open Sans';
    color: #6ac4b8;
    line-height: 26px;
}
.submit{
    position: relative;
    top: 11px;
    width: 30px;
    height: 30px;
    background:#157d8c;
    border: none;
    cursor: pointer;
    left: -10px;
}
.for_submit{
    font-size: 1em;
    display: inline-block;
    width: 0.4em;
    box-sizing: content-box;
    height: 0.4em;
    border: 0.1em solid #ffffff;
    position: relative;
    border-radius: 0.35em;
    right: -13px;
    top: -3px;
    z-index: 5;
}
.for_submit:before{
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: #ffffff;
    width: 0.35em;
    height: 0.08em;
    transform: rotate(45deg);
}
.img_dog{
    position: relative;
    float: right;
    top: 12px;
}
.for_header_2:after{
    content: "";
    display: block;
    clear: both;
}
.line{
    position: relative;
    height: 1px;
    background:#a6dcd4;
    top: 17px;
    width: 100%;
}
.main_menu_1{
    position: relative;
    width: 960px;
    margin: 0 auto;
    top: 17px;
}
.main_menu li{
    font-size: 20px;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 11px 0 17px 39px;
    background:#6ac4b8 url(image/background_2.png) 2px 10px no-repeat;
}
.main_menu a{
    text-decoration: none;
    color: #ffffff;
}
.wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.image_2{
    float: left;
    width: 630px;
    height: 376px;
}

.for_image1 {
    position: absolute;
    font-family: 'bebas_neue_cyrillicregular';
    font-size: 36px;
    line-height: 44px;
    top: 29px;
    left: 39px;
    color: #fed34f;
    width: 100%;
    height: 74px;
    overflow: hidden;
}
.for_image2{
    position: absolute;
    font-family: 'bebas_neue_cyrillicregular';
    font-size: 36px;
    top: 74px;
    left: 42px;
    color: #ffffff;
    width: 100%;
    height: 74px;
    overflow: hidden;
}
.slider{
    position: absolute;
    left: 290px;
    bottom: 17px;
}
.slider .slider_1{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ffffff;
    margin: 0 8px 0 0;
}
.slider span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #ffffff;
    margin: 0 8px 0 0;
}
.survey{
    float: left;
    width: 300px;
    height: 325px;
    margin-left: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    background: #f3f3f3;
}
.for_survey_1{
    height: 39px;
    background:#fed34f;
}
h3{
    color: #f3f3f3;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 9px;
}
.question{
    top: 23px;
    position: relative;
    left: 20px;
    color: #383838;
    font-size: 18px;
    width: 257px;
    height: 42px;
    font-weight: 400;
    line-height: 24px;
}
.checkbox{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    margin-top: 11px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    cursor: pointer;
    margin-left: -7px;
    position: relative;
}
input[type="checkbox"] + label::before{
    content: "";
   display: inline-block;
   width: 15px;
   height: 15px;
   border: 1px solid #e3e3e3;
   background:#ffffff ;
   margin: 10px 10px 10px 10px;
   vertical-align: middle;
}
input[type="checkbox"]:checked + label::before{
    background:#fed34f;
}
input[type="checkbox"]:checked + label::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(38deg);
  top: 3px;
  left: 15px;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  -o-transform: rotate(38deg);
}
.vote li{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 5px;
    background:url(image/background_4.png) 30px 5px no-repeat;
    padding: 34px 0 0 0;
}
.vote{
    width: 299px;
    height: 17px;
    position: relative;
    left: -19px;
    top: 10px;
    
}
.vote ul{
    font-size: 0;
}
.vote a{
    color: #fed34f;
}
.block_1:after{
    content: "";
    display: block;
    clear: both;
}
